@font-face {
  font-family: 'Metropolis';
  src: url('metropolis-medium-webfont.woff2') format('woff2'),
       url('metropolis-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Metropolis';
  src: url('metropolis-light-webfont.woff2') format('woff2'),
       url('metropolis-light-webfont.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Metropolis';
  src: url('metropolis-semibold-webfont.woff2') format('woff2'),
       url('metropolis-semibold-webfont.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}