.home-hero {
  max-width: 440px;
}

.home-install {
  text-align: center;

  &-primary {
    .btn {
      display: block;
      text-align: center;
    }

    .fa {
      margin-right: 0.5rem;
      margin-left: -0.3rem;
    }
  }

  &-other {
    a:after {
      content: ',';
    }
    a:last-child:after {
      display: none;
    }
  }
}

.home-screenshots {
  display: flex;
  justify-content: space-around;
}

.home-screenshot {
  max-height: 240px;

  @include media-breakpoint-up(md) {
    max-height: 270px;
  }

  @include media-breakpoint-up(lg) {
    max-height: 340px;
  }

  @include media-breakpoint-up(xl) {
    max-height: 420px;
  }
}

.media-body {
  text-align: center;

  @include media-breakpoint-up(md) {
    text-align: left;
  }
}